.col-1 {
  width: 8.33%;
  display: inline-block;
  white-space: normal;
}

.col-2 {
  width: 16.67%;
  display: inline-block;
  white-space: normal;
}

.col-3 {
  width: 25%;
  display: inline-block;
  white-space: normal;
}

.col-4 {
  width: 33.33%;
  display: inline-block;
  white-space: normal;
}

.col-5 {
  width: 41.67%;
  display: inline-block;
  white-space: normal;
}

.col-6 {
  width: 50%;
  display: inline-block;
  white-space: normal;
}

.col-7 {
  width: 58.33%;
  display: inline-block;
  white-space: normal;
}

.col-8 {
  width: 66.67%;
  display: inline-block;
  white-space: normal;
}

.col-9 {
  width: 75%;
  display: inline-block;
  white-space: normal;
}

.col-10 {
  width: 83.33%;
  display: inline-block;
  white-space: normal;
}

.col-11 {
  width: 83.33%;
  display: inline-block;
  white-space: normal;
}

.col-12 {
  width: 91.67%;
  display: inline-block;
  white-space: normal;
}
