@font-face {
	font-family: "Lato-Bold";
	src: url("../assets/fonts/Lato2OFL/Lato-Bold.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Lato-Regular";
	src: url("../assets/fonts/Lato2OFL/Lato-Regular.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Lato-Light";
	src: url("../assets/fonts/Lato2OFL/Lato-Light.ttf") format("truetype");
	font-style: normal;
}
@font-face {
	font-family: "Lato-Thin";
	src: url("../assets/fonts/Lato2OFL/Lato-Thin.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Nunito-Light";
	src: url("../assets/fonts/nunito/Nunito-Light.ttf") format("truetype");
	font-style: normal;
}
@font-face {
	font-family: "Nunito-Regular";
	src: url("../assets/fonts/nunito/Nunito-Regular.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Nunito-Bold";
	src: url("../assets/fonts/nunito/Nunito-Bold.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Avenir-Book";
	src: url("../assets/fonts/Avenir/Avenir-Book.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Avenir-Roman";
	src: url("../assets/fonts/Avenir/Avenir-Roman.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Avenir-Light";
	src: url("../assets/fonts/Avenir/Avenir-Light.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Avenir-LightOblique";
	src: url("../assets/fonts/Avenir/Avenir-LightOblique.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Avenir-Medium";
	src: url("../assets/fonts/Avenir/Avenir-Medium.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Avenir-Oblique";
	src: url("../assets/fonts/Avenir/Avenir-Oblique.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Avenir-MediumOblique";
	src: url("../assets/fonts/Avenir/Avenir-MediumOblique.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Avenir-Heavy";
	src: url("../assets/fonts/Avenir/Avenir-Heavy.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Avenir-HeavyOblique";
	src: url("../assets/fonts/Avenir/Avenir-HeavyOblique.ttf") format("truetype");
	font-style: normal;
}
