.margin-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin--20 {
  margin-left: 20px;
  margin-right: 20px;
}

.margin--40 {
  margin-left: 40px;
  margin-right: 40px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-25pct {
  margin-top: 25%;
}

.margin-top-10pct {
  margin-top: 10%;
}
