.books {
  height: 100%;
  background-color: #F2F2F2;
  
  .cover-photo {
    max-width: 80%;
  }

  .description {
    text-align: left;
  }
  .book-container {
    padding: 20px;
  }

  .photo-container {
    text-align: center;
    margin: 50px auto;
  }
}
