.reviews-section {


  .review-quote {
    margin-bottom: 40px;
    margin-top: 0px;
    color: #767676;
    font-size: 20px;
    font-family: 'Avenir-Oblique';
    line-height: 1.8;
    text-align: left;
    width: 80%;
  }

  .book-cover {
    max-height: 500px;
    text-align: center;
  }

  .right-hand-review {
    margin-left: 5%;
  }
  .left-hand-review {
    margin-left: 15%;
  }
}
