.bio-style {
  text-align: left;
  vertical-align: top
}
.about {

  .headshot {
    max-width: 80%;
  }


  .description {
    text-align: left;
  }
  .book-container {
    padding: 20px;
  }

  .photo-container {
    text-align: center;
    margin: 50px auto;
  }
}
