.footer {
  background-color: #F2F2F2;
  margin-bottom: 0px;
  p {
    font-family: "Avenir-Roman";
    color: #767676;
    text-align: center;
    margin-bottom: 0px;
  }

  .mediaLinks {
    text-align: center;

    img {
      width: 60px;
      height: 60px;
      margin: 20px 5%;
    }
  }

}
